<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/js/index.js"></script>
</head>
<body>

<h1>Pagina Index</h1>
<form action="" method="post">
    <input type="text" name="nombre"  placeholder="nombre">
    <input type="password" name="password"  placeholder="password">
    <input type="submit" value="Enviar">
</form>
<div th:if="${msg}">
    <p>Usuario o Contraseña incorrecto</p>
    <img th:src="@{/img/ojo.jpg}" alt="Ojo" >
</div>
<button id="btnPedirDatos">Pedir Datos</button>
</body>
</html>