<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script src="/js/index.js"></script>
</head>
<body>

<h1>Pagina Index</h1>
<form action="" method="post">
    <input type="text" name="nombre"  placeholder="nombre">
    <input type="password" name="password"  placeholder="password">
    <input type="submit" value="Enviar">
</form>
<div th:if="${msg}">
    <p>Usuario o Contraseña incorrecto</p>
    <img th:src="@{/img/ojo.jpg}" alt="Ojo" >
</div>
<button id="btnPedirDatos">Pedir Datos</button>
<ul id="lista"></ul>

<hr>

<input type="number" name="" id="idalumno" placeholder="idalumno">
<input type="text" name="" id="nombre" placeholder="nombre">
<input type="text" name="" id="apellidos" placeholder="apellidos">
<input type="number" name="" id="edad" placeholder="edad">
<button id="btnEnviarAlumno">Enviar Alumno</button>
<hr>
<form action="tarea" method="post">
    <input type="number" name="id" >
    <input type="text" name="titulo" >
    <input type="text" name="descripcion" >
    <input type="date" name="fecha" >
    <input type="submit" value="Nueva tarea">
</form>
</body>
</html>